
.page-container {
  display: flex;
  flex-direction: column;
  height:154vh;
  width:100vw;

}


.cart-main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #f9f9f9;
  padding: 40px 20px;
}


.cart-container {
  width: 100%;
  max-width: 900px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  font-family: 'Segoe UI', sans-serif;
  transition: all 0.3s ease-in-out;
  text-align: center; 
}

.empty-cart-image {
  width: 160px;
 
}


.empty-cart-title {
  font-size: 24px;
  font-weight: bold;

  color: #333;
}

.empty-cart-description {
  font-size: 16px;
  color: #666;
}


.order-now-button {
  background-color: #fa8128;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-now-button:hover {
  background-color: #e46e10;
}