.slider-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
}

.image {
  position: relative;
}

.offer-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
